body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: darkslategrey;
  padding: 20px;
  margin: -20px;
}

input:not([type='checkbox']),
textarea {
  border: 5px solid;
}

input:not([type='checkbox']),
input:not([type='submit'])
textarea {
  width: 500px;
  background: ivory;
  border-top-color: grey;
  border-right-color: silver;
  border-bottom-color: silver;
  border-left-color: grey;
}


input[type="submit"],
button {
  width: 200px;
  font-size: 24px;
  font-size: 24px;
  text-shadow: 0 1px 0 gold;
  background: goldenrod;
  border-top-color: gold;
  border-right-color: chocolate;
  border-bottom-color: chocolate;
  border-left-color: gold;
  transition: background 300ms ease-in-out, border 100ms ease-in-out;
}

input[type="submit"]:hover,
button:hover {
  background: gold;
  border-top-color: yellow;
  border-right-color: chocolate;
  border-bottom-color: chocolate;
  border-left-color: yellow;
}

input[type="submit"]:active,
button:active {
  text-shadow: 0 -1px 0 chocolate;
  background: goldenrod;
  border-top-color: chocolate;
  border-right-color: gold;
  border-bottom-color: gold;
  border-left-color: chocolate;
}

input:not([type='checkbox']),
textarea,
button {
  padding: 10px;
  font-size: 18px;
  box-sizing: border-box;
  display: block;
  margin: 20px auto 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:not([type='checkbox']):first-child,
textarea:first-child,
button:first-child {
  margin-top: 0
}

@media screen and (max-width: 768px) {
  input:not([type='checkbox']),
  textarea,
  button {
    width: 100%;
  }

  input[type="submit"],
  button {
    width: 50%;
  }

}

@media screen and (max-width: 400px) {
  input[type="submit"],
  button {
    width: 100%;
  }
}

form {
  margin: 20px 0 0;
}

form:first-child {
  margin-top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  background: gold;
  padding: 20px;
  transition: background 300ms ease-in;
}

nav:hover {
  background: goldenrod;
}

nav ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  display: block;
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
  color: blue;
  margin: 0;
  padding: 5px 0;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  padding: 20px;
}

.message {
  display: block;
  font-weight: bold;
  color: green;
  padding: 20px;
  margin: 20px -20px -20px;
}

h2 + .message,
.message:empty + .message,
.message:first-child {
  margin-top: -20px;
}

.message:empty {
  display: none;
}

.message.-error {
  color: crimson;
}

.user.-inactive {
  opacity: 0.5;
}

.user a {
  padding: 20px;
  margin: -20px;
  display: block;
  transition: background 300ms ease-in;
}

.user a:hover {
  background: khaki;
}
